[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = ">=2.0.0"
requests = ">=2.31.0"
matplotlib = ">=3.7.0"
seaborn = ">=0.12.0"
pytest = ">=8.4.0"

[dev-packages]

[requires]
python_version = "3.11"
